<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="text" name="cid" [(ngModel)]="client.cid" placeholder="Numero de documento" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="first_name" [(ngModel)]="client.first_name" placeholder="Nombre" class="form-control" >
        </div>
        <div class="form-group">
          <input type="text" name="last_name" [(ngModel)]="client.last_name" placeholder="Apellido" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" id="tc_number" name="tc_number" pattern="\d{4}-?\d{4}-?\d{4}-?\d{4}" [(ngModel)]="client.tc_number" placeholder="Numero de tarjeta de credito" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" pattern="\d*" maxlength="4" name="cvv" [(ngModel)]="client.cvv" placeholder="CVV" class="form-control">
        </div>
        <div class="form-group">
          <input type="month" name="expiration_date" [(ngModel)]="client.expiration_date" (change)="getDate()" placeholder="Mes de expiracion" class="form-control" min="2020-06"  max="2024-12">
        </div>
        <button class="btn btn-success btn-block" (click)="edit ? updateClient() : guardarNuevoCliente()">Guardar</button>
      </form>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card card-body text-center">
    <div class="checkout_form">
      <div class="card_number" id="card-container">
          <input type="text" [(ngModel)]="client.tc_number" class="input" id="card" placeholder="Numero de tarjeta" readonly>
          <input type="text" [(ngModel)]="client.first_name + ' ' + client.last_name" class="input" placeholder="Nombre titular" readonly>
      </div>
      <div class="card_grp">
        <div class="expiry_date">
          <input type="text" [(ngModel)]="monthh" class="expiry_input" placeholder="MM" readonly>
          <input type="text" [(ngModel)]="yearr"  class="expiry_input" placeholder="YY" readonly>
        </div>
        <div class="cvc">
          <input type="text" [(ngModel)]="client.cvv" class="cvc_input" placeholder="CVV" readonly>
          <div class="cvc_img">
              ?
             <div class="img">
               <img src="https://i.imgur.com/2ameC0C.png" alt="">
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
