.checkout_form {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  max-width: 380px;
  width: 100%;
  /* background: #4BBF73; */
  background: rgba(225,225,225);
  padding: 30px;
  border-radius: 25px;
}

.card_number {
  margin-bottom: 25px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid #9e9e9e;
  border: 0;
  text-align: center;
}

.card_number .input {
  width: 100%;
  margin-top: 20px;
  /* background-color: transparent;
  border: 1px solid black; */
  height: 25px;
  text-align: left;
}


.card_grp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}


.expiry_date,
.cvc {
  width: 48%;
  margin-right: 25px;
  display: flex;
}

.expiry_date .expiry_input {
  width: 60px;
  margin-right: 10px;
  /* background-color: transparent;
  border: 1px solid black; */
}

.cvc {
  justify-content: flex-end;
  align-items: center;
}

.cvc .cvc_input {
  /* border: 1px solid black;
  background-color: transparent; */
  width: 80px;
  margin-right: 10px;
}


.cvc_img {
  border: 2px solid #fff;
  width: 25px;
  height: 25px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.cvc_img .img {
  position: absolute;
  width: 100px;
  height: 80px;
  padding: 10px 10px 5px;
  border-radius: 3px;
  top: -30px;
  right: 33px;
  background: #064887;
  display: none;
}

.cvc_img .img img {
  width: 100%;
  height: 100%;
}

.cvc_img:hover .img {
  display: block;
}
