<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Clients App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/clients/prueba" routerLinkActive="active"> <i class="fas fa-bug"></i>Prueba tarjeta de credito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clients" routerLinkActive="active"> <i class="fa fa-credit-card"></i> Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clients/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i>Adicionar cliente</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
