<div class="col-md-4" *ngFor="let client of clients">
  <div class="card text-center">
    <div
      class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
    >
      {{ client.first_name }}
      <button class="btn btn-danger" (click)="deleteClient(client.id)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <div class="card-body">
      <p>Tarjeta de credito: {{ client.tc_number }}</p>
      <a
        [routerLink]="['/clients/edit', client.id]"
        class="btn btn-info btn-block"
      >
        EDITAR CLIENTE
      </a>
    </div>
  </div>
</div>

<div class="col-md-4 mx-auto" *ngIf="clients.length == 0">
  <div class="card text-center">
    <div
      class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
    >
      NO HAY CLIENTES REGISTRADOS
    </div>
    <div class="card-body">
      <a
        [routerLink]="['/clients/add']"
        class="btn btn-info btn-block"
      >
        AGREGAR CLIENTE
      </a>
    </div>
  </div>
</div>
